* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 70px;
}

body {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    min-height: 100vh;
}

.maxw {
    max-width: 1920px;
    margin: 0 auto;
}

.logo {
    position: absolute;
    top: 0;
    left: 70px;
}

.logo img {
    width: 275px;
    height: auto;
}

.languages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: fit-content;
    width: 100%;
}

.languages img {
    width: 20vw;
    height: auto;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.1s;
    max-width: 400px;
}

.languages img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

footer {
    width: 100%;
}

footer .partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    row-gap: 10px;
}

.mts {
    width: 220px;
    height: auto;
}

.psm {
    width: 210px;
    height: auto;
}

.dd {
    width: 250px;
    height: auto;
}

.tus {
    width: 250px;
    height: auto;
}

.ets {
    width: 150px;
    height: auto;
}

.tzs {
    height: 180px;
    width: auto;
}

@media only screen and (max-width:1440px) {
    .logo img {
        width: 180px;
    }

    .mts {
        width: 200px;
    }

    .psm {
        width: 190px;
    }

    .dd {
        width: 220px;
    }

    .tus {
        width: 220px;
    }

    .ets {
        width: 130px;
    }

    .tzs {
        height: 150px;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        padding: 0 35px;
    }

    .logo {
        left: 35px;
    }

    .logo img {
        width: 135px;
    }

    .languages img {
        width: 28vw;
    }

    .mts {
        width: 180px;
    }

    .psm {
        width: 170px;
    }

    .dd {
        width: 200px;
    }

    .tus {
        width: 200px;
    }

    .ets {
        width: 115px;
    }

    .tzs {
        height: 130px;
    }
}

@media only screen and (max-width: 768px) {
    .languages {
        flex-direction: column;
        gap: 8vw;
    }

    .languages img {
        width: 40vw;
    }

    footer .partners {
        flex-wrap: wrap;
        row-gap: 4px;
    }

    .mts {
        width: 150px;
    }

    .psm {
        width: 150px;
    }

    .dd {
        width: 150px;
    }

    .tus {
        width: 200px;
    }

    .ets {
        width: 150px;
    }

    .tzs {
        height: 120px;
    }
}

@media only screen and (max-width:475px) {
    .container {
        padding: 0 15px;
    }

    .logo {
        left: 15px;
    }

    .logo img {
        width: 100px;
    }

    .languages img {
        width: 50vw;
    }

    .ets {
        width: 90px;
    }

    .psm {
        width: 100px;
    }

    .tus {
        width: 150px;
    }

    .dd {
        width: 100px;
    }

    .tzs {
        height: 80px;
    }
}