*{
    margin: 0;
    padding: 0;
  }
body{
  background-color: #00553A;
  color: white;
  }
  .maxwidth {
    max-width: 1440px;
    margin: auto;
    height: auto;
  }
  .container {
    padding: 0 70px 0 70px;
  }

  .main {
    text-align: center;
  }
 .pbx img{
   max-height: 600px;
    width: auto;
  }
  
  h1{
    padding:100px 0px 0 0;
    font-size: 40px;
  }

 .agenda ul{
  list-style:none;
    text-align: left;
    align-items: center;
  }
  .white path{
    fill:#FFF;
  }
.agenda li{
  display: flex;
    align-items: center;
  }
 .agenda ul li img {
    padding-right: 7px;
}
.intro{
  padding-top: 30px;
  padding-bottom: 50px;
}
.intro img{
  height: 250px;
  width: auto;
  position: absolute;
  left: 70px;
}
.agenda{
  justify-content: center;
}
  .flex{
    display: flex;
    flex-wrap: wrap;
  }
  .flex ul:not(:first-of-type){
padding-left: 50px;
  }
  .flex ul:not(:last-of-type){
    padding-right: 50px;
    border-right: solid lightgray 1px;
  }

  @media only screen and (max-width: 1440px) {
  .flex {
    padding-top: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
h1 {
    padding: 50px 0px 34px 0px;
    font-size: 40px;
}
  }
  @media only screen and (max-width: 1440px) {
  h1{
    padding-top: 18px;
  }
  .intro img {
    height: 180px;
    width: auto;
    position: absolute;
    left: 70px;
}
.intro {
  padding-bottom: 0px;
}
  }
  @media only screen and (max-width: 790px) {
    h1{
      padding-top: 135px;
    }
    .intro img {
      height: 135px;
      width: auto;
      position: absolute;
      left: 70px;
  }
  }
  @media only screen and (max-width: 730px) {
    .pbx img {
        max-height: 285px;
        width: auto;
    }
    .intro img{
      left: 35px;
    }
    .flex ul:not(:first-of-type){
        padding-left: 0px;
        padding-top: 20px;
          }
          .flex ul:not(:last-of-type){
            border-right: none;
            padding-right: 0px;
            padding-bottom: 20px;
            border-bottom: solid lightgray 1px;
          }
          .flex {
            padding-top: 50px;
            display: block;
            margin: auto;
            width: 25%;
            text-align: center;
        }
    }

  @media only screen and (max-width: 425px) {
    .intro img{
      left: 15px;
      height: 85px;
    }
    h1{
      padding-top: 100px;
    }
    .pbx img {
        max-height: 285px;
        width: auto;
    }
    .flex ul:not(:first-of-type){
        padding-left: 0px;
        padding-top: 20px;
          }
          .flex ul:not(:last-of-type){
            border-right: none;
            padding-right: 0px;
            border-bottom: solid lightgray 1px;
            padding-bottom: 20px;
          }
          .flex {
            padding-top: 50px;
            display: block;
            margin: auto;
            width: 50%;
        }
  }
  @media only screen and (max-width: 375px){

    .container {
        padding: 0 25px 0 25px;
    }
.pbx img {
    max-height: 232px;
    width: auto;
}

  }
  @media only screen and (min-width: 2000px) {
    .pbx img {
        max-height: 1000px;
        width: auto;
    }
    .pbx img {
        max-height: 760px;
        width: auto;
    }
    h1 {
        padding: 50px 0px 50px 0px;
        font-size: 65px;
    }
    .flex {
        padding-top: 50px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        font-size: xx-large;
    }
}
